---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Senior Full Stack Engineer & AI-Augmented Systems Architect" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@400;600;800;900&display=swap" rel="stylesheet">
		<title>{title}</title>
		<script is:inline src="/zk/snarkjs.min.js"></script>
	</head>
	<body class="bg-dark-900 text-slate-100 overflow-x-hidden antialiased selection:bg-selection-bg selection:text-selection-text min-h-screen">
		<slot />
	</body>
</html>
